*__pycache__/*
*.ipynb_checkpoints/*
*pepper/_log*
*app_archive/*
log/*
data/*
cache/*
output/*
notebooks/*
src/__pycache__/*
app/__pycache__/*
*__not_correction.json
*__saturated_function.json
*.parq
*.ipynb
env/
*.venv/
*.DS_Store